---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Li from "../../components/Li.astro";

export async function getStaticPaths({ paginate }) {
  // const allPosts = Astro.glob("../article/*.md");

const allPosts = await Astro.glob('../article/*.md');

  const sortedPosts = allPosts.sort(
    (a, b) => new Date(b.date) - new Date(a.date)
  );

  return paginate(sortedPosts, { pageSize: 20 });
}

const { page } = Astro.props;
---
<BaseLayout content={{ page }}>
<h1 class="text-5xl">Articles</h1>

<h2 class="title text-3xl">All Posts</h2>


<!-- {page.data.map((post) => <Li item={post} />)} -->


<!-- {post.frontmatter.description} -->

{page.data.slice(0, 3).map((post) => (
  <ul class="text-2xl">
    <li class="mb-4">
       <a href={post.frontmatter.url}>
        {post.frontmatter.title}
        </a>
    </li>   
  </ul>
))}
<small class="count">{page.start + 1}- {page.end + 1} of {page.total}</small>
</BaseLayout>