---
export interface Props {
  title: string;
  description: string;
  permalink: string;
  publishDate: string;
  ogImageUrl: string;
  canonicalURL?: string;
}

import site from "../data/site.js";
import "../styles/global.scss";

const { title, description, permalink, publishDate, ogImageUrl, canonicalURL } =
  Astro.props;
let fullTitle = title + " | " + site.title;
let fullDesc = description + " | " + site.description;

if (title === "") {
  fullTitle = site.title;
}
if (description === "") {
  fullDesc = site.description;
}

if (import.meta.env.DEV == true) {
  console.log("dev", import.meta.env.DEV);
} else {
  console.log("pro", import.meta.env.DEV);
}
---
<script is:inline>
  const appearance = (() => {
    theme = window.matchMedia("(prefers-color-scheme: dark)").matches;

    if (localStorage.getItem("darkMode") === null) {
      return localStorage.setItem("darkMode", theme);
    }
    console.log(
      "prefers-color-scheme = dark:",
      window.matchMedia("(prefers-color-scheme: dark)").matches,
      "| localStorage = darkMode:",
      localStorage.getItem("darkMode")
    );

    return "false";
  })();
</script>
<script>
  import Alpine from "alpinejs";
  window.Alpine = Alpine;
  Alpine.start();
</script>



<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

<!-- Primary Meta Tags -->
<title>{fullTitle}</title>
<meta name="title" content={fullTitle} />
<meta name="description" content={fullDesc} />

<!-- Canonical -->
<link rel="canonical" href={canonicalURL} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL || site.url} />
<meta property="og:title" content={fullTitle} />
<meta property="og:description" content={fullDesc} />
<meta
  property="og:image"
  content={ogImageUrl
    ? `${site.url}${ogImageUrl}`
    : `${site.url}/assets/img/social.jpg`}
/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL || site.url} />
<meta property="twitter:title" content={fullTitle} />
<meta property="twitter:description" content={fullDesc} />
<meta
  property="twitter:image"
  content={ogImageUrl
    ? `${site.url}${ogImageUrl}`
    : `${site.url}/assets/img/social.jpg`}
/>

<!-- RSS -->
<link
  rel="alternate"
  type="application/rss+xml"
  title={`${site.name} Blog`}
  href={`${site.url}/feed/blog.xml`}
/>

<script defer data-domain="budparr.com" src="https://plausible.io/js/plausible.js"></script>

<link rel="me" href="https://mastodon.social/@budparr">